<div id="app-window" class="jumbotron">
  <h1>Monty Hall Simulator 5000</h1>
  <p class="lead">
    <img id="welcome-image" src="https://cdn3.iconfinder.com/data/icons/farm-animals/128/goat-512.png" alt="Beeeehh"><br>
    To switch or not to switch.
  </p>
  <button class="btn btn-lg btn-success" ng-click="startGame()">Start! <span class="glyphicon glyphicon-ok"></span></button>
</div>

<div class="row marketing">
  <h4>What is the Monty Hall problem?</h4>
  <p>
    The Monty Hall problem is a brain teaser, in the form of a probability puzzle, loosely based on the American television game show Let's Make a Deal and named after its original host, Monty Hall. Source: <a href="https://en.wikipedia.org/wiki/Monty_Hall_problem">wikipedia</a>
  </p>

  <h4>How wrong is Carmen?</h4>
  <p>
      This topic has been widely disputed, but <a href="http://www.merriam-webster.com/dictionary/very">4/5 dentists agree...</a>
  </p>

  <h4>I Got Nuthin'</h4>
  <p>
    But you can't have a list without at least three bullet points, so here you go.
  </p>
</div>
